*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container-slider{
	position: relative;
	display: block;
	width: 100%;
}
#slider{
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	min-height: 500px;
}
#slider li{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transition: opacity	1s;
	-moz-transition: opacity	1s;
	-ms-transition: opacity	1s;
	-o-transition: opacity	1s;
	transition: opacity	1s;
	z-index: -1;
	opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
	font-size: 30pt;
	color: rgba(204, 204, 204, 0.65);
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50px;
	z-index: 2;
}
#container-slider .arrowPrev:hover{
	color: gray;
	transition: 0.3s all;
}
#container-slider .arrowNext:hover{
	color: gray;
	transition: 0.3s all;
}
#container-slider .arrowNext{
	left: initial;
	right: 50px !important;
}
.content_slider{
	padding: 15px 30px;
	color: #fff;
	width: 100%;
	height: 100%;
}
.content_slider div{
	text-align: center;
}
.content_slider h2{
	font-family: 'arial';
	font-size: 30pt;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.content_slider p{
	font-size: 15pt;
	font-family: 'arial';
	color: #fff;
	margin-bottom: 20px;
}
#slider li .content_slider{
	background: rgba(0,0,0, 0.50);
	padding: 10px 125px;
}
.content_slider{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btnSlider{
	color: #fff;
	font-size: 15pt;
	font-family: 'arial';
	letter-spacing: 1px;
	padding: 10px 50px;
	border: 1px solid #ccc;
	background: rgba(13, 13, 13, 0.50);
	border-radius: 31px;
	text-decoration: none;
	transition: 0.5s all;
}
.btnSlider:hover{
	background-color: #111;
	border: 1px solid #111;
}
.listslider{
	position: absolute;
	z-index: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 50%;
	bottom: 10%;
	list-style: none;
	transform: translate(-50%);
}
.listslider li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin: 0 5px;
}
.listslider li a{
	background: #ccc;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: block;
}
.item-select-slid{
	background: #fff !important;
}
@media screen and (max-width: 1000px){
	.content_slider h2{
		font-size: 15pt !important;
	}
	.content_slider p{
		font-size: 10pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 30px;
	}
	.btnSlider{
		padding: 10px 30px;
		font-size: 10pt;
	}
}
.navmenu1 {
	width: 100%;
	height: 70px;
	background-color: #5E2BFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navmenu1 ul li{
	list-style: none;
	display: inline-block;
}
.navmenu1 ul li a{
	font-size: 25px;
	font-family: geosanslight;
	color: white;
	text-decoration: none;
	list-style: none;
	padding: 20px 15px;
	display: block;
}
.navmenu1 ul li a:hover{
	background-color: black;
	transition: 0.5s;
}
.logo	{
	color: white;
	font-family: arial;
	font-size: 3rem;
	padding: 20px;
}
.menuBtn{
	display: none;
}
#menuBtn{
	display: none;
}
.navmenu1 ul ul{
	background-color: #5E2BFF;
	flex-direction: column;
	visibility: hidden;
}
.navmenu1 ul li:hover .submenu{
	visibility: visible;
}
.menuBtn{
	color: white;
	font-size: 30px;
	padding: 15px;
}
@media (max-width: 1024px){
	nav .menuBtn{
		display: initial;
	}
	nav .menuBtn:hover{
		cursor: pointer;
	}
	nav ul{
		z-index: 2;
		background: #5E2BFF;
		position: fixed;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all .5s;
		margin-top: -490px;
	}
	nav #menuBtn:checked ~ ul{
		margin-top: 490px;
	}
	.navmenu1 ul li a:hover{
		width: 100%;
		background-color: black;
		transition: 0.5s;
	}
	.navmenu1 ul li:hover .submenu{
	left: 0px;
	}
}
@media (max-width: 600px){
	nav.logo{
		font-size: 1.5rem;
	}
	nav ul li a {
		padding: 0;
	}
}
img{
	bottom: 20%;
	position: fixed;
	right: 40px;
}
.arrow-btn{
	position: fixed;
	bottom: 30px;
	left:30px;
	z-index: 9;
}
.arrow-btn a{
	height: 39px;
	font-size: 30px;
	color: #f2f2f2;
	width: 37px;
	text-align: center;
	background: rgba(204, 204, 204, 0.65);
	display: block;
	border-radius: 3px;
	cursor: pointer;
}
.arrow-btn a:hover{
	background: gray;
	transition-duration: 0.8s;
}
.arrow-btn a span{
	line-height: 39px;
	font-size: 25px;
}
header{
	position: fixed;
	z-index: 5;
	width: 100%;
}
.submenu{
	position: absolute;
	display: flex;
	flex-direction: column;
}
.submenu ul li a{
	background-color: white;
}


